# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/37515c8b5bc9bf6d.txt
.parcel-cache/5ce9eacc6a22bb83
.parcel-cache/5d102dff0a3f4e7e
.parcel-cache/b9964151050d55a0
.parcel-cache/cb43ad3406d109cf
.parcel-cache/data.mdb
.parcel-cache/f4ac05840b447a34
.parcel-cache/9cf66bb0aaafd01a
